* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #0d0d0d;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.container .header {
  color: white;
  margin-bottom: 1rem;
}
.container .hero {
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.hero .text-lg {
  font-size: 2rem;
}
.hero .text-sm {
  font-size: 1.5rem;
}
.container .hero .tasks-num {
  background-color: #8bc34a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}
.container form {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}
.container form .task-input,
.container form .add-task-btn {
  border: none;
  outline: none;
  height: 100%;
  border-radius: 10px;
}
.container form .task-input {
  flex-basis: 100%;
  padding: 0 15px;
  background-color: rgb(33, 33, 51);
  color: white;
}
.container form .task-input::placeholder {
  font-size: 10px;
}
.container form .add-task-btn {
  flex-basis: 35px;
  margin-left: 5px;
  font-weight: lighter;
  background-color: #8bc34a;
  font-size: 2rem;
}
.container .empty-list {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  border: 1px solid white;
  margin-bottom: 1rem;
}
.todo-item .todo-items-left,
.todo-item .todo-items-right {
  display: flex;
  align-items: center;
  margin: 10px;
}
.todo-item .todo-items-left button,
.todo-item .todo-items-right button {
  border: none;
  background: transparent;
  outline: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.todo-item .todo-items-left button p {
  color: white;
  font-size: 0.75rem;
}
.edit-form {
  width: 100%;
}
.edit-form .editing-input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: white;
  padding: 0 15px;
  outline: none;
}
